<div {{ attributes }}>
	{% if validated == true %}
		{% if saved == true %}
			Enregistrement effectué avec succès <strong>{{utilisateur.nom}}, id={{utilisateur.id}}</strong> !
		{% else %}
			Echec lors de l'enregistrement
		{% endif %}
	{% endif %}
	{{validated}} | {{saved}}
	<form>
		<input type="text" data-model="utilisateur.nom" placeholder="Nom de l'utilisateur">
		<input type="email" data-model="utilisateur.email" placeholder="Adresse mail de l'utilisateur">
		<input type="password" data-model="utilisateur.motDePasse" placeholder="Mot de passe de l'utilisateur">
		<input type="password" data-model="utilisateur.motDePasseConfirme" placeholder="Confirmer le mot de passe">

		{# <button {{ live_action("afficherParams", { 'id': 12, 'nom' : utilisateur.nom } )}}>Afficher</button> #}
		<button {{ live_action("enregistrerUtilisateurJSB") }}>Enregistrer</button>
		<button {{ live_action("saveAndRedirect") }}>Enregistrer et retourner à la page d'acceuil</button>
	</form>
</div>
